In [2]:
# pandas

# series : 1 dimensi

# dataframe : 2 dimensi

In [4]:
# pandas series : 1 dimensi

import numpy as np
import pandas as pd

In [11]:
# membuat Dataframe
# 1. membuat dari gabungan series

pd.DataFrame({"kota":["jakarta", "bandung"], "populasi":[13, 25]})

      kota  populasi
0  jakarta        13
1  bandung        25

In [13]:
pd.Series({"apel":5, "jeruk":12, "pisang":6})

apel       5
jeruk     12
pisang     6
dtype: int64

In [41]:
# 2. import data series dari excel, csv, table
pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

# jadikan variabel

df_nba = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

df_nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [36]:
df_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [39]:
df_nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [49]:
# membaca kolom
df_nba[["game_id","year_id"]]

             game_id  year_id
0       194611010TRH     1947
1       194611010TRH     1947
2       194611020CHS     1947
3       194611020CHS     1947
4       194611020DTF     1947
...              ...      ...
126309  201506110CLE     2015
126310  201506140GSW     2015
126311  201506140GSW     2015
126312  201506170CLE     2015
126313  201506170CLE     2015

[126314 rows x 2 columns]

In [59]:
# membaca judul kolom
df_nba.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [62]:
# membaca index
df_nba.index

RangeIndex(start=0, stop=126314, step=1)

In [66]:
# query
kondisi = (df_nba["fran_id"] == "Huskies")

df_nba[kondisi]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
10,6,194611030CLR,NBA,1,1947,11/3/1946,2,0,TRH,Huskies,...,39.548164,CLR,Rebels,71,1300.0000,1307.1233,A,L,0.351068,NaN
24,13,194611080TRH,NBA,0,1947,11/8/1946,3,0,TRH,Huskies,...,39.864174,DTF,Falcons,71,1271.4624,1268.4468,H,W,0.659309,NaN
26,14,194611090CHS,NBA,1,1947,11/9/1946,4,0,TRH,Huskies,...,39.286152,CHS,Stags,62,1309.7350,1315.2522,A,L,0.333136,NaN
49,25,194611150TRH,NBA,0,1947,11/15/1946,5,0,TRH,Huskies,...,40.449894,PRO,Steamrollers,68,1313.4436,1302.3401,H,W,0.599685,NaN
50,26,194611160BOS,NBA,1,1947,11/16/1946,6,0,TRH,Huskies,...,39.951809,BOS,Celtics,53,1267.1501,1271.9004,A,L,0.397298,NaN
64,33,194611180PIT,NBA,1,1947,11/18/1946,7,0,TRH,Huskies,...,39.374023,PIT,Ironmen,54,1274.5563,1280.0704,A,L,0.380668,NaN
69,35,194611190TRH,NBA,0,1947,11/19/1946,8,0,TRH,Huskies,...,38.718002,CLR,Rebels,74,1307.6647,1313.9331,H,L,0.608795,NaN
83,42,194611220TRH,NBA,0,1947,11/22/1946,9,0,TRH,Huskies,...,38.975250,BOS,Celtics,82,1257.9297,1255.4705,H,W,0.666514,NaN
91,46,194611230WSC,NBA,1,1947,11/23/1946,10,0,TRH,Huskies,...,38.010517,WSC,Capitols,74,1344.4468,1353.6788,A,L,0.280354,NaN
104,53,194611260TRH,NBA,0,1947,11/26/1946,11,0,TRH,Huskies,...,36.858685,WSC,Capitols,78,1353.6788,1364.7440,H,L,0.525552,NaN
120,61,194611290TRH,NBA,0,1947,11/29/1946,12,0,TRH,Huskies,...,35.126602,CLR,Rebels,87,1296.5641,1313.3292,H,L,0.590826,NaN
124,63,194611300PRO,NBA,1,1947,11/30/1946,13,0,TRH,Huskies,...,34.367218,PRO,Steamrollers,79,1275.6881,1283.1002,A,L,0.318592,NaN
147,74,194612050CHS,NBA,1,1947,12/5/1946,14,0,TRH,Huskies,...,35.488831,CHS,Stags,61,1317.2023,1306.2690,A,W,0.260785,NaN
157,79,194612070PRO,NBA,1,1947,12/7/1946,15,0,TRH,Huskies,...,36.987415,PRO,Steamrollers,59,1270.5713,1256.0878,A,W,0.329483,NaN
171,86,194612100TRH,NBA,0,1947,12/10/1946,16,0,TRH,Huskies,...,35.538528,PHW,Warriors,85,1308.3997,1322.4008,H,L,0.576002,NaN
185,93,194612130TRH,NBA,0,1947,12/13/1946,17,0,TRH,Huskies,...,33.961941,PIT,Ironmen,62,1225.3917,1240.7815,H,L,0.668990,NaN
197,99,194612150STB,NBA,1,1947,12/15/1946,18,0,TRH,Huskies,...,35.086777,STB,Bombers,46,1315.6809,1304.6824,A,W,0.258073,NaN
201,101,194612170CLR,NBA,1,1947,12/17/1946,19,0,TRH,Huskies,...,34.386520,CLR,Rebels,78,1310.9967,1317.8322,A,L,0.275732,NaN
215,108,194612200TRH,NBA,0,1947,12/20/1946,20,0,TRH,Huskies,...,35.060261,NYK,Knicks,70,1347.1748,1340.5975,H,W,0.484493,NaN
236,119,194612270TRH,NBA,0,1947,12/27/1946,21,0,TRH,Huskies,...,34.135567,CHS,Stags,88,1344.2667,1353.3029,H,L,0.498139,NaN
245,123,194612290DTF,NBA,1,1947,12/29/1946,22,0,TRH,Huskies,...,35.185211,DTF,Falcons,48,1289.3090,1279.0566,A,W,0.290205,NaN
254,128,194612310TRH,NBA,0,1947,12/31/1946,23,0,TRH,Huskies,...,36.335934,CHS,Stags,76,1364.1989,1353.0458,H,W,0.471236,NaN
267,134,194701030TRH,NBA,0,1947,1/3/1947,24,0,TRH,Huskies,...,35.137066,BOS,Celtics,58,1192.7406,1204.3622,H,L,0.718294,NaN
281,141,194701060TRH,NBA,0,1947,1/6/1947,25,0,TRH,Huskies,...,36.190292,DTF,Falcons,61,1273.7080,1263.4937,H,W,0.599415,NaN
284,143,194701080NYK,NBA,1,1947,1/8/1947,26,0,TRH,Huskies,...,38.478409,NYK,Knicks,63,1350.6637,1328.6687,A,W,0.243708,NaN
291,146,194701090GSW,NBA,1,1947,1/9/1947,27,0,TRH,Huskies,...,37.541653,PHW,Warriors,74,1311.1245,1320.1030,A,L,0.314700,NaN
302,152,194701110WSC,NBA,1,1947,1/11/1947,28,0,TRH,Huskies,...,37.156956,WSC,Capitols,81,1445.0814,1448.7782,A,L,0.167836,NaN
312,157,194701140TRH,NBA,0,1947,1/14/1947,29,0,TRH,Huskies,...,34.464828,PHW,Warriors,104,1312.5405,1338.6333,H,L,0.572470,NaN
326,164,194701170TRH,NBA,0,1947,1/17/1947,30,0,TRH,Huskies,...,33.139439,DTF,Falcons,74,1270.5358,1283.5742,H,L,0.594725,NaN
342,172,194701210TRH,NBA,0,1947,1/21/1947,31,0,TRH,Huskies,...,33.609535,STB,Bombers,71,1363.3656,1358.7234,H,W,0.443766,NaN
357,179,194701240TRH,NBA,0,1947,1/24/1947,32,0,TRH,Huskies,...,32.889355,PRO,Steamrollers,96,1257.8400,1264.9603,H,L,0.600676,NaN
372,187,194701270TRH,NBA,0,1947,1/27/1947,33,0,TRH,Huskies,...,32.080246,CLR,Rebels,88,1310.1866,1318.2482,H,L,0.516485,NaN
375,188,194701280CLR,NBA,1,1947,1/28/1947,34,0,TRH,Huskies,...,31.661716,CLR,Rebels,80,1318.2482,1322.4463,A,L,0.235387,NaN
388,195,194701310TRH,NBA,0,1947,1/31/1947,35,0,TRH,Huskies,...,33.232540,WSC,Capitols,74,1461.7986,1446.1398,H,W,0.293726,NaN
397,199,194702020CHS,NBA,1,1947,2/2/1947,36,0,TRH,Huskies,...,32.767380,CHS,Stags,90,1361.9294,1366.5396,A,L,0.203653,NaN
413,207,194702050PIT,NBA,1,1947,2/5/1947,37,0,TRH,Huskies,...,33.538177,PIT,Ironmen,55,1213.8152,1206.1873,A,W,0.368760,NaN
419,210,194702060GSW,NBA,1,1947,2/6/1947,38,0,TRH,Huskies,...,33.012997,PHW,Warriors,79,1365.8291,1371.0201,A,L,0.202831,NaN
425,213,194702080NYK,NBA,1,1947,2/8/1947,39,0,TRH,Huskies,...,31.943153,NYK,Knicks,69,1249.8612,1260.5216,A,L,0.324973,NaN
453,227,194702140TRH,NBA,0,1947,2/14/1947,40,0,TRH,Huskies,...,32.631100,PIT,Ironmen,73,1197.4030,1190.5342,H,W,0.659460,NaN
467,234,194702160STB,NBA,1,1947,2/16/1947,41,0,TRH,Huskies,...,32.129955,STB,Bombers,80,1348.7775,1353.7760,A,L,0.210445,NaN
473,237,194702180TRH,NBA,0,1947,2/18/1947,42,0,TRH,Huskies,...,33.180000,STB,Bombers,57,1353.7760,1343.3323,H,W,0.443123,NaN
479,240,194702190WSC,NBA,1,1947,2/19/1947,43,0,TRH,Huskies,...,32.955151,WSC,Capitols,69,1447.2051,1449.4320,A,L,0.134995,NaN
490,246,194702210TRH,NBA,0,1947,2/21/1947,44,0,TRH,Huskies,...,33.523418,BOS,Celtics,61,1242.1201,1236.5012,H,W,0.613380,NaN
502,252,194702230DTF,NBA,1,1947,2/23/1947,45,0,TRH,Huskies,...,32.899826,DTF,Falcons,61,1239.2600,1245.4276,A,L,0.345034,NaN
513,257,194702250TRH,NBA,0,1947,2/25/1947,46,0,TRH,Huskies,...,34.597027,PRO,Steamrollers,60,1300.8777,1284.1725,H,W,0.530001,NaN
526,264,194702280TRH,NBA,0,1947,2/28/1947,47,0,TRH,Huskies,...,35.657406,PHW,Warriors,69,1374.6681,1364.3468,H,W,0.448073,NaN
528,265,194703010NYK,NBA,1,1947,3/1/1947,48,0,TRH,Huskies,...,34.805679,NYK,Knicks,63,1266.6016,1274.8856,A,L,0.336650,NaN
538,270,194703030GSW,NBA,1,1947,3/3/1947,49,0,TRH,Huskies,...,34.405716,PHW,Warriors,76,1359.1210,1363.0291,A,L,0.221227,NaN
547,274,194703050PIT,NBA,1,1947,3/5/1947,50,0,TRH,Huskies,...,35.009712,PIT,Ironmen,60,1151.3198,1145.4227,A,W,0.478806,NaN
557,279,194703070TRH,NBA,0,1947,3/7/1947,51,0,TRH,Huskies,...,34.239609,WSC,Capitols,86,1490.3058,1497.8296,H,L,0.299234,NaN
559,280,194703080BOS,NBA,1,1947,3/8/1947,52,0,TRH,Huskies,...,33.904453,BOS,Celtics,67,1230.1863,1233.4753,A,L,0.366286,NaN
575,288,194703110TRH,NBA,0,1947,3/11/1947,53,0,TRH,Huskies,...,34.929512,STB,Bombers,71,1359.5875,1349.5562,H,W,0.459907,NaN
576,289,194703120BOS,NBA,1,1947,3/12/1947,54,0,TRH,Huskies,...,34.038456,BOS,Celtics,69,1214.7625,1223.4777,A,L,0.396377,NaN
587,294,194703130PRO,NBA,1,1947,3/13/1947,55,0,TRH,Huskies,...,33.579575,PRO,Steamrollers,71,1280.2823,1284.7959,A,L,0.299870,NaN
603,302,194703180TRH,NBA,0,1947,3/18/1947,56,0,TRH,Huskies,...,32.214127,PIT,Ironmen,70,1141.9557,1155.5035,H,L,0.745294,NaN
616,309,194703210TRH,NBA,0,1947,3/21/1947,57,0,TRH,Huskies,...,31.234783,CHS,Stags,99,1403.7662,1413.6068,H,L,0.374860,NaN
628,315,194703230STB,NBA,1,1947,3/23/1947,58,0,TRH,Huskies,...,30.740387,STB,Bombers,60,1363.1570,1368.1692,A,L,0.184584,NaN
646,324,194703280TRH,NBA,0,1947,3/28/1947,59,0,TRH,Huskies,...,31.955053,NYK,Knicks,61,1347.7479,1335.4875,H,W,0.431814,NaN
649,325,194703290DTF,NBA,1,1947,3/29/1947,60,0,TRH,Huskies,...,31.555082,DTF,Falcons,66,1195.1040,1199.1213,A,L,0.383083,NaN

In [70]:
# query huskies yang menang
kondisi1 = (df_nba["fran_id"] == "Huskies")
kondisi2 = (df_nba["_iscopy"] == 0)

df_nba[kondisi1 & kondisi2]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
24,13,194611080TRH,NBA,0,1947,11/8/1946,3,0,TRH,Huskies,...,39.864174,DTF,Falcons,71,1271.4624,1268.4468,H,W,0.659309,NaN
49,25,194611150TRH,NBA,0,1947,11/15/1946,5,0,TRH,Huskies,...,40.449894,PRO,Steamrollers,68,1313.4436,1302.3401,H,W,0.599685,NaN
69,35,194611190TRH,NBA,0,1947,11/19/1946,8,0,TRH,Huskies,...,38.718002,CLR,Rebels,74,1307.6647,1313.9331,H,L,0.608795,NaN
83,42,194611220TRH,NBA,0,1947,11/22/1946,9,0,TRH,Huskies,...,38.975250,BOS,Celtics,82,1257.9297,1255.4705,H,W,0.666514,NaN
104,53,194611260TRH,NBA,0,1947,11/26/1946,11,0,TRH,Huskies,...,36.858685,WSC,Capitols,78,1353.6788,1364.7440,H,L,0.525552,NaN
120,61,194611290TRH,NBA,0,1947,11/29/1946,12,0,TRH,Huskies,...,35.126602,CLR,Rebels,87,1296.5641,1313.3292,H,L,0.590826,NaN
171,86,194612100TRH,NBA,0,1947,12/10/1946,16,0,TRH,Huskies,...,35.538528,PHW,Warriors,85,1308.3997,1322.4008,H,L,0.576002,NaN
185,93,194612130TRH,NBA,0,1947,12/13/1946,17,0,TRH,Huskies,...,33.961941,PIT,Ironmen,62,1225.3917,1240.7815,H,L,0.668990,NaN
215,108,194612200TRH,NBA,0,1947,12/20/1946,20,0,TRH,Huskies,...,35.060261,NYK,Knicks,70,1347.1748,1340.5975,H,W,0.484493,NaN
236,119,194612270TRH,NBA,0,1947,12/27/1946,21,0,TRH,Huskies,...,34.135567,CHS,Stags,88,1344.2667,1353.3029,H,L,0.498139,NaN
254,128,194612310TRH,NBA,0,1947,12/31/1946,23,0,TRH,Huskies,...,36.335934,CHS,Stags,76,1364.1989,1353.0458,H,W,0.471236,NaN
267,134,194701030TRH,NBA,0,1947,1/3/1947,24,0,TRH,Huskies,...,35.137066,BOS,Celtics,58,1192.7406,1204.3622,H,L,0.718294,NaN
281,141,194701060TRH,NBA,0,1947,1/6/1947,25,0,TRH,Huskies,...,36.190292,DTF,Falcons,61,1273.7080,1263.4937,H,W,0.599415,NaN
312,157,194701140TRH,NBA,0,1947,1/14/1947,29,0,TRH,Huskies,...,34.464828,PHW,Warriors,104,1312.5405,1338.6333,H,L,0.572470,NaN
326,164,194701170TRH,NBA,0,1947,1/17/1947,30,0,TRH,Huskies,...,33.139439,DTF,Falcons,74,1270.5358,1283.5742,H,L,0.594725,NaN
342,172,194701210TRH,NBA,0,1947,1/21/1947,31,0,TRH,Huskies,...,33.609535,STB,Bombers,71,1363.3656,1358.7234,H,W,0.443766,NaN
357,179,194701240TRH,NBA,0,1947,1/24/1947,32,0,TRH,Huskies,...,32.889355,PRO,Steamrollers,96,1257.8400,1264.9603,H,L,0.600676,NaN
372,187,194701270TRH,NBA,0,1947,1/27/1947,33,0,TRH,Huskies,...,32.080246,CLR,Rebels,88,1310.1866,1318.2482,H,L,0.516485,NaN
388,195,194701310TRH,NBA,0,1947,1/31/1947,35,0,TRH,Huskies,...,33.232540,WSC,Capitols,74,1461.7986,1446.1398,H,W,0.293726,NaN
453,227,194702140TRH,NBA,0,1947,2/14/1947,40,0,TRH,Huskies,...,32.631100,PIT,Ironmen,73,1197.4030,1190.5342,H,W,0.659460,NaN
473,237,194702180TRH,NBA,0,1947,2/18/1947,42,0,TRH,Huskies,...,33.180000,STB,Bombers,57,1353.7760,1343.3323,H,W,0.443123,NaN
490,246,194702210TRH,NBA,0,1947,2/21/1947,44,0,TRH,Huskies,...,33.523418,BOS,Celtics,61,1242.1201,1236.5012,H,W,0.613380,NaN
513,257,194702250TRH,NBA,0,1947,2/25/1947,46,0,TRH,Huskies,...,34.597027,PRO,Steamrollers,60,1300.8777,1284.1725,H,W,0.530001,NaN
526,264,194702280TRH,NBA,0,1947,2/28/1947,47,0,TRH,Huskies,...,35.657406,PHW,Warriors,69,1374.6681,1364.3468,H,W,0.448073,NaN
557,279,194703070TRH,NBA,0,1947,3/7/1947,51,0,TRH,Huskies,...,34.239609,WSC,Capitols,86,1490.3058,1497.8296,H,L,0.299234,NaN
575,288,194703110TRH,NBA,0,1947,3/11/1947,53,0,TRH,Huskies,...,34.929512,STB,Bombers,71,1359.5875,1349.5562,H,W,0.459907,NaN
603,302,194703180TRH,NBA,0,1947,3/18/1947,56,0,TRH,Huskies,...,32.214127,PIT,Ironmen,70,1141.9557,1155.5035,H,L,0.745294,NaN
616,309,194703210TRH,NBA,0,1947,3/21/1947,57,0,TRH,Huskies,...,31.234783,CHS,Stags,99,1403.7662,1413.6068,H,L,0.374860,NaN
646,324,194703280TRH,NBA,0,1947,3/28/1947,59,0,TRH,Huskies,...,31.955053,NYK,Knicks,61,1347.7479,1335.4875,H,W,0.431814,NaN

In [82]:
# edit

df_nba = df_nba.rename(columns={"game_id":"game"})

df_nba

,gameorder,game,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN